input[type=text2], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  height: 89.7rem;
  width: 40%;
 padding: 12rem;
 background-color: #bd7164;
 color: #000000;
 font-family: 'Prata', serif;
 text-align: center;

}


form {
  max-width: 450px;
  margin: 50px;
}

body {
  background-image: url(contactPageBackground.png)
}

.form {
  min-width:300px;
}

.nameSpot {
text-align: center;
padding: 1rem;
}

.emailSpot {
  text-align: center;
  padding: 1rem;
}

.messageSpot {
  text-align: center;
  padding: 1rem;
}
.submitButton {
  text-align: center;
}

footer {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3rem;
  font-size: 22px;
  padding: 20px 0;
  background-color: #222222;
  color: #787777;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

.bottomStuff p {
  font-family: 'Lato', sans-serif;
font-weight: 300;
font-size: 17px;
}
